* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 34px;
  /* display: flex;
  justify-content: center; */
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: blueviolet;
}
body {
  background-color: rgb(38, 36, 36);
}
.circle-1 {
  width: 150px;
  height: 150px;
  /* border: 2px solid black; */
  border-radius: 80px;
  background-color: rgb(225, 225, 121);
  box-shadow: 0 0 20px 0 rgb(232, 232, 107);
  margin: 0 auto;
}
